// Custom Style Formats:
.text-sm {
	font-size: rem(14);
}

.text-md {
	font-size: rem(18);
}

.text-lg {
	font-size: rem(18);

	@include min(lg) {
		font-size: rem(22);
	}
}

.text-uppercase {
	text-transform: uppercase;
}

// simple link (e.g. inside post/page content)
%link {
	color: $primary;
	text-decoration: none;

	@include hover {
		color: $primary;
		text-decoration: underline;
	}
}

.blockquote {
	font-size: rem(20);
	margin: rem(50 30);

	p {
		font-weight: 700;
	}

	cite {
		display: block;
		color: $w;
		font-weight: 400;
		font-style: normal;
		margin-top: rem(16);
		margin-bottom: 0;
	}
}

// Styles for formatted text (e.g. post/page content, WYSIWYG custom fields)
.editor {
	> *:last-child {
		margin-bottom: 0;
	}

	@include headings {
		margin-top: rem(20);

		&:first-child {
			margin-top: 0;
		}
	}

	a:not([class]) {
		@extend %link;
	}
}

.list-border {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	li {
		line-height: rem(20);
		margin-bottom: rem(18);
		display: flex;
		gap: rem(8);

		&:before {
			content: '';
			width: 5px;
			height: 12px;
			margin-top: 4px;
			background-color: $primary;
			display: block;
			flex-shrink: 0;
		}
	}

	&--small {

		li {
			font-size: rem(16);
			margin-bottom: rem(10);
			line-height: 1.3;
		}
	}

	.map-wrapper & {
		color: $w;

		li:before {
			background-color: $w;
		}
	}
}
