.breadcrumbs {
	color: $grey;
	font-size: rem(14);
	margin-bottom: rem(30);
	padding-top: rem(10);

	@include min(lg) {
		padding-top: rem(15);
	}

	> p {
		display: none;
		@include min(md) {
			display: block;
		}
	}

	a {
		color: $main-black;
		margin-right: rem(2);
		font-size: rem(12);

		&:hover {
			color: $color-text;
		}
	}

	span {
		font-size: rem(12);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 7px;
	}

	span {
		span {
			span {
				display: inline;
				margin-left: rem(3);
			}
		}
	}

	.breadcrumb_last {
		color: $color-text;
	}

	p {
		margin: 0;
	}

	.separator {
		display: inline-block;
		margin: rem(0 5);

		@include min(md) {
			margin: rem(0 10);
		}
	}
}

.breadcrumbs-section + .section {
	padding-top: 0;
}
