// To top button
#to-top {
	@include tr;
	background-color: $w;
	width: rem(40);
	height: rem(40);
	border-radius: $radius;
	cursor: pointer;
	position: fixed;
	bottom: rem(30);
	right: rem(30);
	opacity: 0;
	visibility: hidden;
	z-index: 90;
	border: 2px solid $primary;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: $primary-hover;

		svg {
			fill: $w;
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}

	svg {
		width: rem(20);
		height: rem(20);
		fill: $primary;
	}
}
